@import '../base/variables';

.button {
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: $font-size-xs;
  padding: 12px 26px;
  outline: none;
  transition: background-color $transition-duration;
  &--green {
    color: $white-color;
    background-color: $green-btn-color;
  }
  &--green:hover,
  &--green:focus-visible {
    background-color: $green-btn-hover-color;
  }
  &--transparent{
    background-color: transparent;
    color: $green-btn-color;
    border: 1px solid $green-btn-color;
  }
  &--transparent:hover,
  &--transparent:focus-visible {
    background-color: $green-btn-color;
    color: $white-color;
  }
}
