@import '../base/variables';

.hero {
  height: 514px;
  width: 100%;
  color: $regular-text-color;
  display: flex;
  justify-content: space-between;
  background-color: $hero-bcg-color;
  margin-bottom: 99px;
  &__content {
    padding-left: 377px;
    padding-right: 211px;
    padding-top: 138px;
  }
  &__bkg {
    height: 100%;
    width: 100%;
    background-color: rgb(82, 129, 129);
  }
  &__title {
    font-size: $font-size-xl;
    margin-bottom: 13px;
    letter-spacing: -0.002em;
  }
  &__desc {
    font-size: $font-size-s;
    line-height: 23px;
  }
  &__image {
    height: 514px;
  }
}
