$white-color: #fff;
$green-btn-color: #0dbc91;
$green-btn-hover-color: #00d29f;
$nav-bar-color: #1fa181;
$hero-bcg-color: #F8FBFA;
$promo-bkg-color: #E2F0EF;
$footer_bkg-color: #08664F;

$regular-text-color:#364844;
$gray-text-color: #868686;

$font: 'PT Sans Caption', sans-serif;

$font-size-xs: 14px;
$font-size-s: 15.5px;
$font-size-m: 20px;
$font-size-l: 22px;
$font-size-xl: 35px;
$font-size-xxl: 38px;

$transition-duration: 0.3s;
